@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600;700;800;900&family=Rethink+Sans:wght@400;500;600;700;800&display=swap");
@import "./design-tokens/tokens.css";

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-body);
}
